{
  "categories": [
    {
      "name": "Default",
      "rules": [
        {
          "find": "<i>",
          "replaceWith": "<i> ",
          "description": "",
          "isActive": true,
          "type": "CaseInsensitive"
        },
        {
          "find": "</i>",
          "replaceWith": "</i> ",
          "description": "",
          "isActive": true,
          "type": "CaseInsensitive"
        }
      ]
    }
  ]
}
